
:root {
  --max-page-width: 1000px;
  --default-font-family: Helvetica, serif;
  --default-padding: 10px;
  --header-height: 50px;
  --background-light: rgb(241, 242, 255);
  --background-dark: rgb(87, 41, 192);
}

.main-container {
  margin: auto;
  width: 100%;
  max-width: var(--max-page-width);
}

/*
header module
 */
header {
  --icon-image-size: 30px;
}

#store-header {
  border-bottom: solid var(--background-dark);
  &:hover {
    transition: 1s;
    color: var(--background-dark);
  }
  font-family: var(--default-font-family);
  font-weight: bold;
  padding: var(--default-padding);
  cursor: pointer;
}

.menu-icon {
  &:hover {
    transition: 1s;
    background-color: var(--background-light);
  }
  float: right;
  width: var(--header-height);
  height: var(--header-height);
  background: no-repeat center;
  background-size: var(--icon-image-size) var(--icon-image-size);
  border-radius: 50%;
}

#categories-icon {
  background-image: url("../images/menu.png");
}

#cart-icon {
  background-image: url("../images/cart.png");
}

#list-view {
  max-height: 0;
  transition: 0.5s ease-out;
  overflow: hidden;
}

/*
categories module
 */
.categories {
  margin: 0;
  list-style: none;
  padding-left: 0;
  height: 190px;
  transition: height 0.5s linear;
}

#category-name-link {
  display: block;
  font-family: var(--default-font-family);
  text-decoration: none;
  color: black;
}

.category-name {
  padding: var(--default-padding);
  display: block;
  transition: 0.2s;
  &:hover {
    background-color: var(--background-light);
    text-decoration: underline;;
  }
}

.menu-radio {
  display: none;
}

.menu-radio:checked + .category-name {
  background-color: var(--background-dark);
  color: white;
}

/*
product module
 */
.products {
  list-style: none;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.product-name-link {
  font-family: var(--default-font-family);
  font-size: 18px;
  color: var(--background-dark);
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

.product-container {

  display: block;
  width: 100%;
  float: left;
  transition: .2s;
  @media only screen and (min-width: 450px) {
    &:hover {
      transform: scale(1.2);
      z-index: 100;
    }
  }
}

@media only screen and (min-width: 450px) {
  .product-container {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .product-container {
    width: 33.333%;
  }
}

@media only screen and (min-width: 1000px) {
  .product-container {
    width: 25%;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  border-top: solid 5px var(--background-dark);
  border-left: solid 1px var(--background-dark);
  border-right: solid 1px var(--background-dark);
  border-bottom: solid 1px var(--background-dark);
  position: relative;
  border-radius: 3px;
  padding: 10px;
  background: #fff;
  margin: 0 20px 20px 0;
  text-decoration: none;
  color: #474747;
  z-index: 0;
  height: 300px;
  overflow: hidden;;
  background: linear-gradient(to bottom, var(--background-light), white);
}



.order-button {
  outline: 0;
  width: 100%;
  height: 50px;
  background-color: var(--background-dark);
  color: white;
  font-family: var(--default-font-family);
  font-size: 16px;
  z-index: 10;
  &:hover {
    background-color: rgb(120, 69, 230);
  }
}

.product-image-container {
  height: 150px;
  vertical-align: middle;;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;;
  padding-bottom: 5px;
}

.product-image-container img {
  max-width: 150px;
  max-height: 150px;
}

.product-price-container {
  margin-top: auto;
}

.special-price {
  vertical-align: bottom;
  margin: 0;
  float: right;
  align-self: flex-end;;
  font-family: var(--default-font-family);
  font-size: 20px;
  font-weight: bold;
  color: var(--background-dark);
  &:after {
    content: '₴';
  }
}

.price {
  float: left;
  vertical-align: bottom;
  margin: 0;
  font-family: var(--default-font-family);
  font-size: 20px;
  font-weight: bold;
  &:after {
    content: '₴';
  }
}

/*
product view module
 */
#product-view {
  padding: var(--default-padding);
  background: linear-gradient(to bottom, var(--background-light), white);
}
#product-view-name {
  font-family: var(--default-font-family);
}

.product-view-image-container {
  padding: var(--default-padding);
  //height: 500px;
  width: 100%;

  float: left;
  display: flex;
  align-items: center;;
  justify-content: center;;
  @media only screen and (min-width: 450px) {
    width: 300px;
  }
}

#product-view-image {
  @media only screen and (min-width: 450px) {
    max-width: 300px;
  }
  max-width: 100%;
  max-height: 500px;
}

#product-view-order {
  width: 200px;
}

#product-view-special-price {
  float: none;;
  padding: var(--default-padding);
}

#product-view-price {
  float: none;
  padding: var(--default-padding);
}

#product-view-description {
  font-family: var(--default-font-family);
  font-size: 14px;
  text-align: justify;
}
// cart module
#cart-view {
  padding: var(--default-padding);
}
.cart-view-header {
  font-family: var(--default-font-family);
}
#cart-view-table {
  width: 100%;
  font-family: var(--default-font-family);
}
#cart-view-table tr {
  height: 50px;
}
.cart-view-table-name {
  width: 100%;
}
#cart-view-table tr:nth-child(odd) {
  background-color: var(--background-light);
}
.table-headers {
  background-color: var(--background-dark) !important;
  color:white;
}
#cart-view-table th {
  padding: var(--default-padding);
}
.text-input {
  width: 100%;
  font-size: 18px;
  background: var(--background-light);
  font-family: var(--default-font-family);
  line-height: 2em;
}
#cart-view-send {
  width: 100%;
  font-size: 18px;
  height: 3em;
  font-family: var(--default-font-family);
  color:white;
  background-color: var(--background-dark);
  margin-top: var(--default-padding);
  margin-bottom: var(--default-padding);
  &:hover {
    background-color: rgb(120, 69, 230);
  }
}
.footer {
  clear: both;
  border-top: solid 2px var(--background-dark);
  font-family: var(--default-font-family);
}
.delete-button {
  width: 2em;
  background:  no-repeat center;
  background-image: url("../images/trash.png");

  background-size: 1em 1em;
  cursor:pointer;
}
#cart-view-table td:nth-child(3) {
  text-align: center;
  cursor: pointer;
}
#cart-view-table td:nth-child(4) {
  text-align: center;
}
#cart-view-table td:nth-child(5) {
  text-align: center;
  cursor: pointer;
}
.required:after {
  content: " *";
}

#product-view {
  display: none;
}

#cart-view {
  display: none;
}

// modal window
.modal {
  display:none;
  position: fixed;;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: solid black;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal .modal-header {
  font-family: var(--default-font-family);
  font-size: 14px;
  font-weight: bold;;
}
.modal .modal-text {
  font-familY: var(--default-font-family);
}
#cart-view-back, #back-button {
  font-family: var(--default-font-family);
  color: black;
}